@charset "utf-8";
@import "reset.css";
@import "mixin";

.container {
   max-width: 1165px;
   margin: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   @include breakPoint(1200px) {
      width: 100%;
      max-width: 100%;
      padding: 0 50px;
   }
   @include breakPoint(990px) {
      width: 100%;
      padding: 0 50px;
   }
   @include breakPoint(720px) {
      width: 100%;
      padding: 0 20px;
   }
   @include breakPoint(480px) {
      width: 100%;
      padding: 0 15px;
   }
}

